*{
    margin:0px;
    padding:0px; 
}
body{
    margin:0px;
    font-family: proxima-nova,Helvetica,Arial,sans-serif;
    
}
#nav{
    display:flex;
    width:99.8%;
    height:120px;
    /* border:1px solid red; */
    /* border-bottom-left-radius: 29px;
    border-bottom-right-radius: 29px; */
    background: radial-gradient(ellipse at center,#2dd29a 0,#1ca677 100%);
    text-align: center;
    align-items: center;
}
#nav>img{
   height:70px;
   margin: 20px 20px 20px 60px;
}
#nav>div{
    text-align: center;
    margin-right: 70px;
    font-size: 22px;
    color:white;

}
#nav>div:nth-child(2){
   padding-left: 70px;
}
#nav>button{
    padding:20px;
    margin-right:20px;
}
#but1{
   background-color: rgba(49, 175, 116, 0.004);
   border:none;
   color: white;
   font-size: 20px;
}
#but2{
    background-color: rgba(49, 175, 116, 0.774);
    border-radius:100px;
    color: rgba(49, 175, 116, 0.774);
    border:none;
    font-size: 20px;
    background-color: white;
    font-weight: 700;
 }
 #nav>div:hover{
    text-decoration: underline;
    cursor:pointer;
 }
 #nav{
   position:sticky;
   top:0%;
 }
 
 #top{
    display: flex;
    width:99.8%;
    height:790px;
    background: radial-gradient(ellipse at center,#2dd29a 0,#1ca677 100%);
    border-bottom-left-radius: 39%;
 }
 #top #left{
/* border:1px solid white; */
  width:43%;
  height:600px;
  margin-top: 150px;
  margin-left: 180px;
 }
 #top #right{
    /* border:1px solid white; */
  width:27%;
  height:650px;
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 90px;
 
 }
 #left>h1{
    font-size:70px;
    text-align:left;
    font-weight: bold;
    color: white;
 }
 #left>h2{
    font-size:38px;
    text-align:justify;
    font-weight: bold;
    color: white;
    line-height: 90px;
 }
 #left>p{
    font-size:30px;
    text-align:left;
    color: white;
 }
 #email{
    width:70%;
    height:50px;
    margin-top:30px;
    border-radius: 99px;
    text-align:left;
    font-size:15px ;
    border:none;
   
 }
 #sub{
    width:26%;
    height:52px;
    border-radius:80px;
    color:white;
    background-color:rgb(250, 68, 68);
    border:none;
    position:relative;
    left:-180px;
    font-size: 18px;
 }
 #sub:hover{
    cursor: pointer;
    background-color:rgb(247, 8, 8);
 }
 #small{
    display: flex;
    width:69%;
    height:auto;
    /* border:1px solid white; */
    margin-top: 20px;
    margin-left: 30px;
    justify-content: space-around;
    
    text-align: left ;
 }
 #small>div{
    width:190px;
    height:auto;
    /* border:1px solid white; */
 }
#small>div>img{
    width:91%;
    text-align: left;
}
#right>img{
   width:80%;
    height:119%;
    padding-bottom: 60px;
    
}
.semi{
   width:75%;
   margin: auto;
   height: auto;
   /* border:1px solid red;*/
   margin-top: 60px; 
   display: grid;
   grid-template-columns: repeat(6,1fr);
   gap:90px;
   justify-content:space-around;
   align-items: center;
}
.semi>div>img:nth-child(1){
   width: 100px;
}
.semi>div>img:nth-child(2){
   width:270px;
   margin:auto;
}
#m2,#m3,#m4,#m5,#m6{
   width:140px;
   align-items: center;
}
#pik{
   display: flex;
   font-size: 25px;
   font-weight: bold;
   margin-left: 90px;
}
#pik>p:nth-child(2){
   color: green;
}
#mid1{
   display:grid;
   grid-template-columns: repeat(2,1fr);
   grid-template-rows: repeat(5,700px);
   width:90%;
   /* border:1px solid purple; */
   margin: auto;
   margin-top: 60px;
}
/* #mid1>div{
   /* border:1px solid rgb(245, 99, 15);
    */
*/
#mid1>div:nth-child(1){
   font-size: 22px;
   text-align: center;
   /* width: 120%; */
   
}

#mid1>div:nth-child(1)>h1{
      margin-top: 220px;
    margin-left: 30px;
}

#mid1>div:nth-child(2)>img{
   margin-top: 200px;
   margin-left:270px;
  width:62%;
  
}

#mid1>div:nth-child(3){
   text-align: center;
   /* width: 120%; */
   
}

#mid1>div:nth-child(3)>img{
   margin-top: -100px;
  border-radius: 15px;
  border-top-left-radius: 90px;
  width:85%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
   
}
.nm1point{
   display: flex;
   font-size: 42px;
   margin-left: 60px;
   line-height: -40px;
   
}
.nm1point>p:nth-child(2){
   font-weight: bolder;
}
.nm1point>p:nth-child(3){
   font-size: 42px;
   font-weight: 900;
   color: #1bc98e;
   margin-left: -8px;
   margin-top: -8px;
}
#mid1>div:nth-child(4)>p{
   width: 70%;
   margin-left: 60px;
   font-size: 20px;
   line-height: 30px;
}
.nm1point+p+div{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   width:70%;
   font-size: 20px;
   line-height: 10px;
   margin-top: 40px;
   margin-left: 60px ;
   gap:20px;
}
.pic1{
   width:25px;
   line-height: 20px;
   /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}
.nm2point{
   display: flex;
   font-size: 45px;
   margin-left: 90px;
   /* line-height: -80px; */
   margin-top: 90px;
}
.nm2point>p:nth-child(2){
   font-weight: bolder;
}
.nm2point>p:nth-child(3){
   font-size: 42px;
   font-weight: 900;
   color: #1bc98e;
   margin-left: -8px;
   margin-top: -8px;
}
#para2{
   margin-top: 20px;
   width:80%;
   font-size:20px;
   line-height:-30px;
   margin-left: 60px;
}
.pic2{
   width:25px;
   line-height: 20px;
   font-size: 15px;
   /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}
.img2{
   font-size:17px;
   width:70%;
   margin-left: 60px;
}
.imgi2{
   width:80%;
   margin-top: 30px;
   border-bottom-right-radius: 20%;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.imgi3{
   width:80%;
   margin-top: 70px;
   border-top-right-radius: 20%;
   margin-left: 60px;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.nm3point{
   display: flex;
   font-size: 45px;
   margin-left: 90px;
   /* line-height: -80px; */
   margin-top: 90px;
}
.nm3point>p:nth-child(2){
   font-weight: bolder;
}
.nm3point>p:nth-child(3){
   font-size: 42px;
   font-weight: 900;
   color: #1bc98e;
   margin-left: -8px;
   margin-top: -8px;
}
#third{
   width: 80%;
   margin-left: 60px;
   margin-top: 30px;
   font-size: 22px;
}
#nm5point{
   display:flex;
   font-size: 42px;
   margin-left: 60px;
   line-height: -40px;
   margin-top: 110px;
   
}
#nm5point>p:nth-child(2){
   font-weight: bolder;
   

}
#nm5point>p:nth-child(3){
   font-size: 42px;
   font-weight: 900;
   color: #1bc98e;
   margin-left: -8px;
   margin-top: -8px;

}
.pic5{
  
   width:25px;
   line-height: 20px;
   font-size: 15px;
   margin-left: 60px;
}
#kg>p{
   width:70%;
   margin-left: 60px;
   margin-top: 40px;
   font-size: 17px;
}
.img5{
   margin-top: 80px;
   border-bottom-left-radius: 30%;
   width:90%;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
#veg{
   width:300px;
   height:400px;
   /* border:1px solid red; */
   margin-top: 80px;

}
#veg>img{
   width:190%;
   float:right;
}
#back{
   width:100%;
   height:1000px;
   background-color:rgb(221, 232, 235);
   padding-top: 240px;
}
#back>div{
   width:100%;
   /* border:1px solid black; */
   height:700px;
}
#back>div>h1{
   text-align: center;
   font-weight: 900;
   font-size: 43px;
}
#back>div>h4{
   text-align: center;
   line-height: 40px;
   font-size: 24px;
   margin-right:75px;

}
#back>div>#back2{
   width:79%;
   height:800px;
   /* border:1px solid black; */
   margin:auto;
   margin-top: 30px;
}
#back2{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   height:800px;
   gap:20px;
}
#back2>div{
   /* border:1px solid red; */
   height:800px;
}
#cut{
   display:grid;
   grid-template-rows: repeat(2,1fr);
   gap:20px;

}
#cut>div{
   /* border:1px solid black; */
   height:387px;
   
}
#cut3{
   display:grid;
   grid-template-rows: repeat(2,1fr);
   gap:20px;

}
#cut3>div{
   /* border:1px solid black; */
   height:387px;
}
#back3>div{
   text-align: center;
}
#back3>div>img{
   width:86%;
   text-align: center;
   box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  border-radius: 17px;
  background-color: rgba(171, 190, 190, 0.74);
}
#cut>div>.icon{
   width:120px;
   height:100px;
   /* border: 1px solid green; */
   
}
#cut>div>.icon>img{
   width:86%;
}
.picc2{
   width:120px;
   height:100px;
   /* border:1px solid white; */
}
.picc2>img{
   width:86%;
}
#cut>div>h2,#cut3>div>h2{
   margin-top: 10px;
}
#cut>div>p,#cut3>div>p{
   text-align: justify;
   font-size: 20px;
}
#block{
 width:100%;
 height:auto;
 /* border:1px solid green; */
 margin:auto;
 text-align: center;
}
#block>h1{
   margin-top:100px;
   text-align: center;
   font-size: 42px;
   font-weight: 800;
}
#block>p{
   text-align:center;
   width:34%;
   margin:auto;
   line-height: 30px;
   font-size: 20px;
  
}
#block>div{
   width:80%;
   height:400px;
   /* border:1px solid green; */
   margin:auto;
   margin-top:80px;
   display: flex;
   gap:40px

}
#block>div>div{
   width:350px;
    /* border:1px solid rgb(17, 10, 110); */
}
#block>div>div>img{
   width:30%;
}
#block>div>div>h1{
   margin-top:30px;
   font-size: 40px;
   font-weight: 800;
   color: rgba(27, 26, 26, 0.877);
}
#block>div>div>p{
   font-size: 19px;
   line-height: 27px;
}
#pay{
   display:flex;
   width:57%;
   height:60px;
   /* border:1px solid red; */
   margin:auto;
   justify-content: space-around;
}
#pay>div{
   width:24%;
   /* border:1px solid black; */
}
#pay>div>img{
   width:100%;
   height: 100%;
}
#forth{
   width:100%;
   /* border:1px solid black; */
   height: 1160px;
   margin-top: 170px;
   background: radial-gradient(ellipse at center,#2dd29a 0,#077550 100%);
}
#forth>h1{
   text-align: center;
   margin: auto;
   margin-top: 200px;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 52px;
   font-weight: 700;
   color: white;
}
#forth>p{
   text-align: center;
   margin: auto;
   margin-top: 30px;
   font-size: 22px;
   color: white;
}
#inner{
   display: flex;
   width:72%;
   height:600px;
   /* border: 1px solid black; */
   margin: auto;
   margin-top: 40px;
   background-color: aliceblue;
   box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
   /* position:relative; */
   border-radius: 26px;
}
#inner>div{
   width:40%;
   /* border:1px solid black; */
}
#inner>div:nth-child(1){
   width:55%;
  
}
#inner>div:nth-child(2){
   margin: 10px 10px 10px 30px;
   border-radius: 12px;
}
#inner>div:nth-child(2)>img{
   width:100%;
   height:100%;
   box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
   border-radius: 16px;
}
#next{
   margin-top: 20px;
   width:57px;
   height: 60px;
   text-align: center;
   border-radius: 100px;
   border:none;
   color: rgb(0, 0, 0);
   background-color: rgb(100,100,100,0.5);
   
   margin-left: 220px;
   
}
#next2{
   margin-top: 20px;
   width:60px;
   height: 60px;
   text-align: center;
   border-radius: 100px;
   border:none;
   margin-left: 480px;
   background-color:rgb(100,100,100,0.5);
}
#in1>h1{
   margin-top:40px;
   margin-left: 60px;
}
#in1>p{
   margin-top:10px;
   margin-left: 60px;
   font-weight: 700;
}
#in1>input{
   margin-top:10px;
   margin-left: 60px;
   width:50%;
   height: 30px;
   border-radius: 23px;
   text-align:center;
   font-size: 18px;
}
#pp{
   width:90%;
   margin-top: 60px;
   line-height:35px;
   font-size: 22px;
   text-align:justify;
}
#but{
   text-align: center;
   margin-top: 40px;
   margin-left:230px;
   width:30%;
   height: 48px;
   border-radius: 100px;
   background: radial-gradient(ellipse at center,#2dd29a 0,#077550 100%);
   color:white;
   border: none;
}
#pk{
  
   width:70%;
}
#rot{
   display:flex;
   margin: auto;
  width:600px;
  height:65px;
  /* border:1px solid black; */
 
 margin-top: 60px;
 gap:7px;
 
  /* margin: auto; */
}
#rot>div{
   width:24%;
   /* border:1px solid black; */
   /* background-color: white; */
   height:100%;
}
#rot>div>img{
   width:75%;
   margin-right: 40px;

}
#kml{
   margin-top:10px ;
   width:20px;
   height:48px;
  
}
#kkl{
   margin-top:10px ;
   width:-14px;
   height:48px;
}
#last{
   width:100%;
   height:1570px;
   /* border:1px solid black; */
   margin-top:100px;

}
#last>h1{
   text-align:center ;
   margin-top:20px ;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 38px;
   font-weight: 800;
}
#last>p{
   text-align: center;
   line-height:50px ;
   font-size: 20px;
}
#last1{
   display:grid;
   width:80%;
   height:1000px;
   grid-template-columns: repeat(2,1fr);
   /* grid-template-rows: repeat(3,1fr); */
   /* border:1px solid red; */
   margin:auto;
   margin-top:30px ;
   gap:47px;

}
#last1>div{
   width:100%;
   height:460px;
   /* border:1px solid green; */
   background-color: white;
   border-radius:13px;
   box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
#last1>div>img{
   width:100%;
   height:300px;
   border-top-left-radius: 13px;
   border-top-right-radius:13px ;
  
}
#last1>div>img:hover{
   box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
   cursor: pointer;
}
#last1>div>h1{
   margin-top:10px ;
   margin-left:10px ;
   font-size: 24px;
   font-weight: bold;

}
#last1>div>p{
   font-size: 21px;
   margin-left:10px;
}
#last1>div>.ppp{
   font-size: 20px;
   font-weight: bold;
}
#last2{
   width:100%;

   height:auto;
   /* border:1px solid black; */
   margin-top:180px;
  
   /* background-color:rgb(221, 220, 220) */
}
#hh{
   margin:auto;
   text-align:center ;
   margin-top:60px ;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 40px;
   font-weight:800;
}
#hh{
   text-align:center ;
}
#p5{
   margin:auto;
   text-align:center;
   font-size: 21px;
   margin-left:10px;
   line-height:30px ;
}
#last3{
   display:grid;
   width:80%;
   height:auto;
   grid-template-columns: repeat(2,1fr);
   /* grid-template-rows: repeat(3,1fr); */
   /* border:1px solid red; */
   margin:auto;
   margin-top:30px ;
   justify-content: center;
   align-items:center ;
   gap:27px;
  
}
#last3>div{
   width:100%;
   height:433px;
   margin-top:10px ;
   /* border:1px solid green; */
   background-color:rgb(238, 246, 253) ;
   border-radius:13px;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
   /* box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset; */
}
#last3>div>img{
   margin-top: 120px;
   margin-left: 290px;
   width:13%;
}
#last3>div>img:hover{
   transform:scale(0.8);
   cursor: pointer;
}
#last3>div>.opp>h1{
   margin-top:40px;
   margin-left: 20px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size:28px ;
}
.opp{
   width:100%;
  
   margin-top: 25px;
   height:181px;
   /* border:1px solid red; */
   border-bottom-left-radius: 14px;
   border-bottom-right-radius: 14px;
   background-color: white;
}
.opp>p{
   font-size: 21px;
   font-weight:bold;
}
#bt{
   width:37%;
   height:49px;
   margin-top: 75px;;
   text-align: center;
   margin-left:580px ;
   border-radius: 90px;
   background: radial-gradient(ellipse at center,#2dd29a 0,#1ca677 100%);
   color:white;
   border: none;
   font-size: 19px;
}
#end{
   margin-top:100px ;
   width:100%;
   height:500px;
   border:1px solid black;
   position: relative;
}
#end>img{
   
   width:100%;
   height:100%;
}
#first{
   margin:4%;
   position:absolute;
   top:15px;
   left:504px;
   color:white;
   font-size:42px;
   font-family: Arial, Helvetica, sans-serif;
}
#second{
   margin:8%;
   position:absolute;
   top:15px;
   color:white;
   left:304px;
   font-size: 20px;
   
}
#thirdd{
   margin:15%;
   position:absolute;
   top:15px;
   color:white;
   left:500px;
   font-size: 20px;
   width:13%;
   height:50px;
   background-color: red;
   color:white;
   border-radius: 100px;
   border:none;
}
#thirdd:hover{
   background-color: rgb(196, 16, 16);
   cursor: pointer;
}
#end2{
   width:100%;
   height:auto;
   border: 1px solid black;
   margin-top: 100px;
}
#end2>h1{
   margin-top: 20px;
   text-align: center;
   font-size: 55px;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-weight: 600;
}
#box{
   width:75%;
   display:grid;
   grid-template-columns: repeat(2,1fr);
   border:1px solid black;
   margin:auto;
   margin-top: 27px;
   height:auto;
   gap:20px;
   

}
#box>div{
   width:100%;
   height:300px;
   border:1px solid red;
}
#box>div>img{
   width:100%;
   height:100%;
}
#box>div>img:hover{
   box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

