*{
    margin:0px;
    padding:0px; 
}
body{
    margin:0px;
    font-family: proxima-nova,Helvetica,Arial,sans-serif;
    
}
#nav{
    display:flex;
    width:99.8%;
    height:120px;
    /* border:1px solid red; */
    /* border-bottom-left-radius: 29px;
    border-bottom-right-radius: 29px; */
    background: radial-gradient(ellipse at center,#2dd29a 0,#1ca677 100%);
    text-align: center;
    align-items: center;
}
#nav>img{
   height:70px;
   margin: 20px 20px 20px 60px;
}
#nav>div{
    text-align: center;
    margin-right: 70px;
    font-size: 22px;
    color:white;

}
#nav>div:nth-child(2){
   padding-left: 70px;
}
#nav>button{
    padding:20px;
    margin-right:20px;
}
#but1{
   background-color: rgba(49, 175, 116, 0.004);
   border:none;
   color: white;
   font-size: 20px;
}
#but2{
    background-color: rgba(49, 175, 116, 0.774);
    border-radius:100px;
    color: rgba(49, 175, 116, 0.774);
    border:none;
    font-size: 20px;
    background-color: white;
    font-weight: 700;
 }
 #nav>div:hover{
    text-decoration: underline;
    cursor:pointer;
 }
 #nav{
   position:sticky;
   top:0%;
 }
 
 #top{
    display: flex;
    width:99.8%;
    height:790px;
    background: radial-gradient(ellipse at center,#2dd29a 0,#1ca677 100%);
    border-bottom-left-radius: 39%;
 }
 #top #left{
/* border:1px solid white; */
  width:43%;
  height:600px;
  margin-top: 150px;
  margin-left: 180px;
 }
 #top #right{
    /* border:1px solid white; */
  width:27%;
  height:650px;
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 90px;
 
 }
 #left>h1{
    font-size:70px;
    text-align:left;
    font-weight: bold;
    color: white;
 }
 #left>h2{
    font-size:38px;
    text-align:justify;
    font-weight: bold;
    color: white;
    line-height: 90px;
 }
 #left>p{
    font-size:30px;
    text-align:left;
    color: white;
 }
 #email{
    width:70%;
    height:50px;
    margin-top:30px;
    border-radius: 99px;
    text-align:left;
    font-size:15px ;
    border:none;
   
 }
 #sub{
    width:26%;
    height:52px;
    border-radius:80px;
    color:white;
    background-color:rgb(250, 68, 68);
    border:none;
    position:relative;
    left:-180px;
    font-size: 18px;
 }
 #sub:hover{
    cursor: pointer;
    background-color:rgb(247, 8, 8);
 }
 #small{
    display: flex;
    width:69%;
    height:auto;
    /* border:1px solid white; */
    margin-top: 20px;
    margin-left: 30px;
    justify-content: space-around;
    
    text-align: left ;
 }
 #small>div{
    width:190px;
    height:auto;
    /* border:1px solid white; */
 }
#small>div>img{
    width:91%;
    text-align: left;
}
#right>img{
   width:80%;
    height:119%;
    padding-bottom: 60px;
}
.semi{
   width:75%;
   margin: auto;
   height: auto;
   /* border:1px solid red;*/
   margin-top: 60px; 
   display: grid;
   grid-template-columns: repeat(6,1fr);
   gap:90px;
   justify-content:space-around;
   align-items: center;
}
.semi>div>img:nth-child(1){
   width: 100px;
}
.semi>div>img:nth-child(2){
   width:270px;
   margin:auto;
}
#m2,#m3,#m4,#m5,#m6{
   width:140px;
   align-items: center;
}
#pik{
   display: flex;
   font-size: 25px;
   font-weight: bold;
   margin-left: 90px;
}
#pik>p:nth-child(2){
   color: green;
}
#mid1{
   display:grid;
   grid-template-columns: repeat(2,1fr);
   grid-template-rows: repeat(5,700px);
   width:90%;
   /* border:1px solid purple; */
   margin: auto;
   margin-top: 60px;
}
/* #mid1>div{
   /* border:1px solid rgb(245, 99, 15);
    */
*/
#mid1>div:nth-child(1){
   font-size: 22px;
   text-align: center;
   /* width: 120%; */
   
}

#mid1>div:nth-child(1)>h1{
      margin-top: 220px;
    margin-left: 30px;
}

#mid1>div:nth-child(2)>img{
   margin-top: 200px;
   margin-left:270px;
  width:62%;
  
}

#mid1>div:nth-child(3){
   text-align: center;
   /* width: 120%; */
   
}

#mid1>div:nth-child(3)>img{
   margin-top: -100px;
  border-radius: 15px;
  border-top-left-radius: 90px;
  width:85%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
   
}
.nm1point{
   display: flex;
   font-size: 42px;
   margin-left: 60px;
   line-height: -40px;
   
}
.nm1point>p:nth-child(2){
   font-weight: bolder;
}
.nm1point>p:nth-child(3){
   font-size: 42px;
   font-weight: 900;
   color: #1bc98e;
   margin-left: -8px;
   margin-top: -8px;
}
#mid1>div:nth-child(4)>p{
   width: 70%;
   margin-left: 60px;
   font-size: 20px;
   line-height: 30px;
}
.nm1point+p+div{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   width:70%;
   font-size: 20px;
   line-height: 10px;
   margin-top: 40px;
   margin-left: 60px ;
   gap:20px;
}
.pic1{
   width:25px;
   line-height: 20px;
   /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}
.nm2point{
   display: flex;
   font-size: 45px;
   margin-left: 90px;
   /* line-height: -80px; */
   margin-top: 90px;
}
.nm2point>p:nth-child(2){
   font-weight: bolder;
}
.nm2point>p:nth-child(3){
   font-size: 42px;
   font-weight: 900;
   color: #1bc98e;
   margin-left: -8px;
   margin-top: -8px;
}
#para2{
   margin-top: 20px;
   width:80%;
   font-size:20px;
   line-height:-30px;
   margin-left: 60px;
}
.pic2{
   width:25px;
   line-height: 20px;
   font-size: 15px;
   /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}
.img2{
   font-size:17px;
   width:70%;
   margin-left: 60px;
}
.imgi2{
   width:80%;
   margin-top: 30px;
   border-bottom-right-radius: 20%;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.imgi3{
   width:80%;
   margin-top: 70px;
   border-top-right-radius: 20%;
   margin-left: 60px;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.nm3point{
   display: flex;
   font-size: 45px;
   margin-left: 90px;
   /* line-height: -80px; */
   margin-top: 90px;
}
.nm3point>p:nth-child(2){
   font-weight: bolder;
}
.nm3point>p:nth-child(3){
   font-size: 42px;
   font-weight: 900;
   color: #1bc98e;
   margin-left: -8px;
   margin-top: -8px;
}
#third{
   width: 80%;
   margin-left: 60px;
   margin-top: 30px;
   font-size: 22px;
}
#nm5point{
   display:flex;
   font-size: 42px;
   margin-left: 60px;
   line-height: -40px;
   margin-top: 110px;
   
}
#nm5point>p:nth-child(2){
   font-weight: bolder;
   

}
#nm5point>p:nth-child(3){
   font-size: 42px;
   font-weight: 900;
   color: #1bc98e;
   margin-left: -8px;
   margin-top: -8px;

}
.pic5{
  
   width:25px;
   line-height: 20px;
   font-size: 15px;
   margin-left: 60px;
}
#kg>p{
   width:70%;
   margin-left: 60px;
   margin-top: 40px;
   font-size: 17px;
}
.img5{
   margin-top: 80px;
   border-bottom-left-radius: 30%;
   width:90%;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
#veg{
   width:300px;
   height:400px;
   /* border:1px solid red; */
   margin-top: 80px;

}
#veg>img{
   width:190%;
   float:right;
}
#back{
   width:100%;
   height:1000px;
   background-color:rgb(221, 232, 235);
   padding-top: 240px;
}
#back>div{
   width:100%;
   /* border:1px solid black; */
   height:700px;
}
#back>div>h1{
   text-align: center;
   font-weight: 900;
   font-size: 43px;
}
#back>div>h4{
   text-align: center;
   line-height: 40px;
   font-size: 24px;
   margin-right:75px;

}
#back>div>#back2{
   width:79%;
   height:800px;
   /* border:1px solid black; */
   margin:auto;
   margin-top: 30px;
}
#back2{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   height:800px;
   gap:20px;
}
#back2>div{
   /* border:1px solid red; */
   height:800px;
}
#cut{
   display:grid;
   grid-template-rows: repeat(2,1fr);
   gap:20px;

}
#cut>div{
   /* border:1px solid black; */
   height:387px;
   
}
#cut3{
   display:grid;
   grid-template-rows: repeat(2,1fr);
   gap:20px;

}
#cut3>div{
   /* border:1px solid black; */
   height:387px;
}
#back3>div{
   text-align: center;
}
#back3>div>img{
   width:86%;
   text-align: center;
   box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  border-radius: 17px;
  background-color: rgba(171, 190, 190, 0.74);
}
#cut>div>.icon{
   width:120px;
   height:100px;
   /* border: 1px solid green; */
   
}
#cut>div>.icon>img{
   width:86%;
}
.picc2{
   width:120px;
   height:100px;
   /* border:1px solid white; */
}
.picc2>img{
   width:86%;
}
#cut>div>h2,#cut3>div>h2{
   margin-top: 10px;
}
#cut>div>p,#cut3>div>p{
   text-align: justify;
   font-size: 20px;
}
#block{
 width:100%;
 height:890px;
 border:1px solid green;
 margin:auto;
 text-align: center;
}
#block>h1{
   margin-top:100px;
   text-align: center;
   font-size: 42px;
   font-weight: 800;
}
#block>p{
   text-align:center;
   width:34%;
   margin:auto;
   line-height: 30px;
   font-size: 20px;
  
}
#block>div{
   width:80%;
   height:400px;
   /* border:1px solid green; */
   margin:auto;
   margin-top:80px;
   display: flex;
   gap:40px

}
#block>div>div{
   width:350px;
    /* border:1px solid rgb(17, 10, 110); */
}
#block>div>div>img{
   width:30%;
}
#block>div>div>h1{
   margin-top:30px;
   font-size: 40px;
   font-weight: 800;
   color: rgba(27, 26, 26, 0.877);
}
#block>div>div>p{
   font-size: 19px;
   line-height: 27px;
}
#pay>div{
   width:200px;
   
}


